/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 2rem 2rem;
}

li {
  list-style: none;
  cursor: pointer;
}

/* Style App.js wrapper */
.App {
  /* width: 90vw; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

/* Tab Container */
.Tabs {
  /* width: 100%; */
  height: auto;
  /* margin: 1rem auto 1.5rem; */
  /* padding: 2rem 1rem; */
  color: #000;
  /* border-radius: 2rem; */
}

/* Tab Navigation */
ul.nav {
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #39A2DB; */
  /* border-radius: 2rem; */
  padding-left: 0px;
}

ul.nav li {
  /* width: 50%; */
  padding: 1rem;
  margin: 0;
  text-align: center;
  transition: all 0.7s;
  height: 5rem;
  border: solid, #000
}

ul.nav li:first-child {
  /* border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem; */
  padding-left: 5em;
}

ul.nav li:last-child {
  /* border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem; */
  padding-right: 0;
}

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}

ul.nav li.active {
  background: #39A2DB;
}

h1 {
  text-align: center;
  padding: 2rem;
}